<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMTTemplateCompilableKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUG19hYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QMQcIFx0vMzk8PT4/QEVQU1ZXWFtcXWhzdnd4g4aHiJOWl5ijpqeos7a3uMPG
	x8jMz9JVJG51bGzXCQoLDA0ODxAREhMUFRZZZG9jdW1lbnRzXW1haW5Eb2N1bWVudHNY
	YmliRmlsZXNWJGNsYXNzWnByb3BlcnRpZXNUcGF0aFhlbmNvZGluZ4AUgAKALoAwgCmA
	E4AS0hgMGRxaTlMub2JqZWN0c6IaG4ADgAyAEdoeCh8gDCEiIyQPJSYnKCkqKywtJldw
	ZGZQYXRoW2xpdmVDb21waWxlXG9wZW5PbkV4cG9ydFdwcm9qZWN0W2xhc3RDb21waWxl
	W2xhc3RDaGFuZ2VkV3RleFBhdGiAB4AAgAmACoALgAGABIAGgAiAANIwDDEyV05TLnRp
	bWUjQbjUtIFiWKOABdI0NTY3WiRjbGFzc25hbWVYJGNsYXNzZXNWTlNEYXRlojY4WE5T
	T2JqZWN00jAMOjIjQbjUxFEx7QeABVpzbGlkZXMucGRmWnNsaWRlcy50ZXgICdI0NUFC
	XURvY3VtZW50TW9kZWyjQ0Q4XURvY3VtZW50TW9kZWxaQ29tcGlsYWJsZdoeCh8gDCEi
	IyQPRiYnKCkqTE1OJoAPgACACYAKgAuAAYANgA6AEIAA0jAMUTIjQbjUtIE7GjuABdIw
	DFQyI0G41MRROdmhgAVbaGFuZG91dC5wZGZbaGFuZG91dC50ZXjSNDVZWldOU0FycmF5
	olk4EARfEBJwcmVzZW50YXRpb24udGVYcGbSGAxeZ6hfGmFiY2QbFIAVgAOAGYAdgCGA
	JYAMgCmALdoeCh8gDCEiIyQPaSYnKCkqJnBxJoAXgACACYAKgAuAAYAAgBaAGIAA0jAM
	dDIjQbjUxFEYOG2ABV5wcm9wZXJ0aWVzLnBkZl5wcm9wZXJ0aWVzLnRleNoeCh8gDCEi
	IyQPeSYnKCkqJoCBJoAbgACACYAKgAuAAYAAgBqAHIAA0jAMhDIjQbjUxFEZqmGABVtj
	b250ZW50LnBkZltjb250ZW50LnRleNoeCh8gDCEiIyQPiSYnKCkqJpCRJoAfgACACYAK
	gAuAAYAAgB6AIIAA0jAMlDIjQbjUxFEZrqOABV8QSy4uLy4uLy4uLy4uL3Vzci9sb2Nh
	bC90ZXhsaXZlLzIwMTMvdGV4bWYtZGlzdC90ZXgvbGF0ZXgvdGl0bGluZy90aXRsaW5n
	LnBkZl8QSy4uLy4uLy4uLy4uL3Vzci9sb2NhbC90ZXhsaXZlLzIwMTMvdGV4bWYtZGlz
	dC90ZXgvbGF0ZXgvdGl0bGluZy90aXRsaW5nLnN0edoeCh8gDCEiIyQPmSYnKCkqJqCh
	JoAjgACACYAKgAuAAYAAgCKAJIAA0jAMpDIjQbjUxFEZs/KABV5wcm9wZXJ0aWVzLnBk
	Zl5wcm9wZXJ0aWVzLnRleNoeCh8gDCEiIyQPqSYnKCkqJrCxJoAngACACYAKgAuAAYAA
	gCaAKIAA0jAMtDIjQbjUxFEZuj2ABV5wcm9wZXJ0aWVzLnBkZl5wcm9wZXJ0aWVzLnRl
	eNoeCh8gDCEiIyQPuSYnKCkqJsDBJoArgACACYAKgAuAAYAAgCqALIAA0jAMxDIjQbjU
	xFEZxjuABV5wcm9wZXJ0aWVzLnBkZl5wcm9wZXJ0aWVzLnRleNI0NcnKXE5TTXV0YWJs
	ZVNldKPJyzhVTlNTZXTSGAzNzqCAL9I0NdDRXk5TTXV0YWJsZUFycmF5o9BZONI0NdPU
	XFByb2plY3RNb2RlbKPV1jhcUHJvamVjdE1vZGVsWkNvbXBpbGFibGVfEA9OU0tleWVk
	QXJjaGl2ZXLR2SpUcm9vdIABAAgAEQAaACMALQAyADcAawBxAIAAigCYAKEAqACzALgA
	wQDDAMUAxwDJAMsAzQDPANQA3wDiAOQA5gDoAP0BBQERAR4BJgEyAT4BRgFIAUoBTAFO
	AVABUgFUAVYBWAFaAV8BZwFwAXIBdwGCAYsBkgGVAZ4BowGsAa4BuQHEAcUBxgHLAdkB
	3QHrAfYCCwINAg8CEQITAhUCFwIZAhsCHQIfAiQCLQIvAjQCPQI/AksCVwJcAmQCZwJp
	An4CgwKMAo4CkAKSApQClgKYApoCnAKeArMCtQK3ArkCuwK9Ar8CwQLDAsUCxwLMAtUC
	1wLmAvUDCgMMAw4DEAMSAxQDFgMYAxoDHAMeAyMDLAMuAzoDRgNbA10DXwNhA2MDZQNn
	A2kDawNtA28DdAN9A38DzQQbBDAEMgQ0BDYEOAQ6BDwEPgRABEIERARJBFIEVARjBHIE
	hwSJBIsEjQSPBJEEkwSVBJcEmQSbBKAEqQSrBLoEyQTeBOAE4gTkBOYE6ATqBOwE7gTw
	BPIE9wUABQIFEQUgBSUFMgU2BTwFQQVCBUQFSQVYBVwFYQVuBXIFfwWKBZwFnwWkAAAA
	AAAAAgEAAAAAAAAA2wAAAAAAAAAAAAAAAAAABaY=
	</data>
	<key>TMTTemplateInfoKey</key>
	<string>A presentation with slides and handouts.</string>
	<key>TMTTemplateTypeKey</key>
	<integer>0</integer>
	<key>TMTTemplateUidKey</key>
	<integer>0</integer>
</dict>
</plist>
