language: objective-c
xcode_image: xcode7.1
xcode_workspace: TMTProject.xcworkspace
xcode_scheme: TeXtended
env: CONFIGURATION_BUILD_DIR='.'

before_script:
  - brew update
  - brew outdated xctool || brew upgrade xctool
script: 
  - xctool -workspace TMTProject.xcworkspace -scheme TeXtended -configuration Release  build archive -archivePath "Build"
before_deploy:
  - cd "Build.xcarchive/Products/Applications"
  - zip -r TeXtended.zip TeXtended.app
deploy:
  provider: releases
  api_key:
    secure: Zo6ZGC3llFDqk7grBTj+zEiy7jKsDInE6TV8Z5NlMuEx2BRffPiqB0jInwAxKsIj6D25oU4Ajhmm8qjTcqCVA70Q5wcVx3rfixZ5RPslvQplkxZv8Or88kczIvDNhN7m6fMTY3tL6CxdsTPtlChyw9+TqYKmviqx2L7d0YfXIuQ=
  file: "TeXtended.zip"
  skip_cleanup: true
  on:
    tags: true
