<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@emph@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\emph</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@command@@}{@@length@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\setlength</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\frenchspacing</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\documentname</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\documentdate</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\twoside</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\parindent</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\parskip</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@style@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\pagestyle</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@name@@}{@@definition@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\renewcommand</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@space@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\vspace</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@space@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\hspace</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@name@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\pageref</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\listoftables</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@color@@}{@@text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textcolor</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\makelabel</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\labelwidth</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\leftmargin</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@name@@}{@@begin@@}{@@end@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\newenvironment</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@name@@}{@@name@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\newtheorem</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@counter@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\newcounter</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@counter@@}{@@value@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\setcounter</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@width@@}{@@content@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\parbox</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@file@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\input</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@file@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\include</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>[@@options@@]{@@style@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\documentclass</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\tableofcontents</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\maketitle</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@title@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\title</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@author@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\author</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@package@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\usepackage</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\geometry</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@numerator@@}{@@denominator@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\frac</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@numerator@@}{@@denominator@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\dfrac</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@numerator@@}{@@denominator@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\cfrac</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\displaystyle</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@command@@}{@@definition@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\newcommand</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@label@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\label</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@citation@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\cite</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@label@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\ref</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@caption@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\caption</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\centering</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@imagename@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\includegraphics</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>[width=@@width@@]{@@imagename@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\includegraphics</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@section@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\section</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@subsection@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\subsection</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@subsubsection@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\subsubsection</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@heading@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\paragraph</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@heading@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\subparagraph</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@heading@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\part</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\clearpage</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@style@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bibliographystyle</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@bib@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bibliography</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\newpage</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\item</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bibitem</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@color@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\rowcolor</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\hline</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@italic text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textit</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@bold text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textbf</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bf</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textcolor</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@small capitals@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textsc</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@typewrited text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\texttt</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textwidth</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textsl</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@env@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\begin</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@env@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\end</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@file@@}{@@text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\addtocontents</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@counter@@}{@@value@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\addtocounter</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@length@@}{@@value@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\addtolength</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\linewidth</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\lnot</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@cal@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\mathcal</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\leftarrow</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\rightarrow</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Leftarrow</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Rightarrow</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\leftrightarrow</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Leftrightarrow</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\models</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\nmodels</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\forall</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\exists</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\in</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\equiv</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\left</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\right</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\setminus</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textsf</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\alpha</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Alpha</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\beta</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Beta</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\gamma</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Gamma</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\delta</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Delta</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\epsilon</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\varepsilon</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\zeta</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\eta</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\theta</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\vartheta</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Theta</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\iota</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\kappa</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\varkappa</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\lambda</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Lambda</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\mu</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\nu</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\xi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Xi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\pi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\varpi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Pi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\rho</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\varrho</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\sigma</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Sigma</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\varsigma</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\tau</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\upsilon</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Upsilon</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\phi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\varphi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Phi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\chi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\psi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Psi</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\omega</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\Omega</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@overlined@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\overline</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@underlined@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\underline</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@math@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\overrightarrow</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@math@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\overleftarrow</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@math@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\widehat</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@math@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\widetilde</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@math@@}^{@@high@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\overbrace</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@math@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\overbrace</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@math@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\underbrace</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@math@@}_{@@low@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\underbrace</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>_{@@set@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bigwedge</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>_{@@set@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bigvee</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\sin</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\cos</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\tan</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\cot</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\arcsin</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\arccos</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\arctan</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\arccot</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\max</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\min</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\mod</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\inf</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\infty</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>_{@@to@@} @@function@@</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\lim</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\lim</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\liminf</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\limsup</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@n@@}{@@k@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\binom</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>_{@@from@@}^{@@to@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\int</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>_{@@from@@}^{@@to@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\sum</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>_{@@set@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\sum</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@sans serif@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\mathsf</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@fraktur@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\mathfrak</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@roman@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\mathrm</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@letter@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\mathbb</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\empty</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\emptyset</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@x@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\sqrt</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>[@@n@@]{@@x@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\sqrt</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>_{@@set@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bigcup</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>_{@@set@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bigcap</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\text</string>
	</dict>
</array>
</plist>
