<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@emph@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\emph</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@command@@}{@@length@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\setlength</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\frenchspacing</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\documentname</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\documentdate</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\twoside</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\parindent</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\parskip</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@style@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\pagestyle</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@name@@}{@@definition@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\renewcommand</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@space@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\vspace</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@space@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\hspace</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@name@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\pageref</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\listoftables</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@color@@}{@@text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textcolor</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\makelabel</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\labelwidth</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\leftmargin</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@name@@}{@@begin@@}{@@end@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\newenvironment</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@name@@}{@@name@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\newtheorem</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@counter@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\newcounter</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@counter@@}{@@value@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\setcounter</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@width@@}{@@content@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\parbox</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@file@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\input</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@file@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\include</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>[@@options@@]{@@style@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\documentclass</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\tableofcontents</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\maketitle</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@title@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\title</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@author@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\author</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@package@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\usepackage</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\geometry</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@numerator@@}{@@denominator@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\frac</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@numerator@@}{@@denominator@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\dfrac</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@numerator@@}{@@denominator@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\cfrac</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\displaystyle</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@command@@}{@@definition@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\newcommand</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@label@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\label</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@citation@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\cite</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@label@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\ref</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@caption@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\caption</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\centering</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@imagename@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\includegraphics</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>[width=@@width@@]{@@imagename@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\includegraphics</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@section@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\section</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@subsection@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\subsection</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@subsubsection@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\subsubsection</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@heading@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\paragraph</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@heading@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\subparagraph</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@heading@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\part</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\clearpage</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@style@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bibliographystyle</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@bib@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bibliography</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\newpage</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\item</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bibitem</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@color@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\rowcolor</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\hline</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@italic text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textit</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@bold text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textbf</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\bf</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textcolor</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@small capitals@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textsc</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@typewrited text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\texttt</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textwidth</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\textsl</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@env@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\begin</string>
	</dict>
	<dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@env@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\end</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{@@file@@}{@@text@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\addtocontents</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@counter@@}{@@value@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\addtocounter</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string>{\@@length@@}{@@value@@}</string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<true/>
		<key>TMTCompletionInsertionKey</key>
		<string>\addtolength</string>
	</dict>
    <dict>
		<key>TMTCompletionExtensionKey</key>
		<string></string>
		<key>TMTCompletionHasPlaceholdersKey</key>
		<false/>
		<key>TMTCompletionInsertionKey</key>
		<string>\linewidth</string>
	</dict>
</array>
</plist>
