<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tex</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>texicon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/x-latex</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Latex Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>SimpleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>textendedproj</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TeXtendedProjectFile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>ProjectDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TeXtendedProjectFolder</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>ProjectDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>texicon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/x-latex</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Latex Class Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>SimpleDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sty</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>texicon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/x-latex</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Latex Style Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>SimpleDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>TeXtended</string>
	<key>CFBundleIdentifier</key>
	<string>de.uni-luebeck.isp.tmtproject.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.29</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5855be3d2</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 TMTProject. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://textended.tobsolution.de/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_textended.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.directory</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TeXtendedProjectFolder</string>
			<key>UTTypeIdentifier</key>
			<string>public.folder</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>fold</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Latex Document</string>
			<key>UTTypeIconFile</key>
			<string>texicon.icns</string>
			<key>UTTypeIdentifier</key>
			<string>public.plain-text</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tex</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/x-latex</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.directory</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TeXtendedProjectFolder</string>
			<key>UTTypeIdentifier</key>
			<string>public.folder</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>fold</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
