<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMTTemplateCompilableKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGiIlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QHwcIFxwuMjg7PD0+P0RHSElPWl1eX2ptbm9zd3t8gINVJG51bGzXCQoLDA0O
	DxAREhMUFRZZZG9jdW1lbnRzXW1haW5Eb2N1bWVudHNYYmliRmlsZXNWJGNsYXNzWnBy
	b3BlcnRpZXNUcGF0aFhlbmNvZGluZ4APgAKAGYAegBSADoAN0hgMGRtaTlMub2JqZWN0
	c6EagAOADNodCh4fDCAhIiMPJCUmJygpKissJVdwZGZQYXRoW2xpdmVDb21waWxlXG9w
	ZW5PbkV4cG9ydFdwcm9qZWN0W2xhc3RDb21waWxlW2xhc3RDaGFuZ2VkV3RleFBhdGiA
	B4AAgAmACoALgAGABIAGgAiAANIvDDAxV05TLnRpbWUjQbjUvMEsLXuABdIzNDU2WiRj
	bGFzc25hbWVYJGNsYXNzZXNWTlNEYXRlojU3WE5TT2JqZWN00i8MOTEjQbjUxa8KGg2A
	BVhtYWluLnBkZlhtYWluLnRleAgJ0jM0QEFdRG9jdW1lbnRNb2RlbKNCQzddRG9jdW1l
	bnRNb2RlbFpDb21waWxhYmxl0jM0RUZXTlNBcnJheaJFNxAEXxAPYWNtc2NtYWxsLnRl
	WHBm0hgMSk6jSxQagBCAFIADgBjaHQoeHwwgISIjD1AlJicoKSVXWCWAEoAAgAmACoAL
	gAGAAIARgBOAANIvDFsxI0G41MWu7w/xgAVecHJvcGVydGllcy5wZGZecHJvcGVydGll
	cy50ZXjaHQoeHwwgISIjD2AlJicoKSVnaCWAFoAAgAmACoALgAGAAIAVgBeAANIvDGsx
	I0G41MWu7wSKgAVecHJvcGVydGllcy5wZGZecHJvcGVydGllcy50ZXjSMzRwcVxOU011
	dGFibGVTZXSjcHI3VU5TU2V00hgMdHahdYAagB3TIA4MKXl6gAGAG4AcWmxpYmFyeS5i
	aWLSMzR9fldCaWJGaWxlon83V0JpYkZpbGXSMzSBgl5OU011dGFibGVBcnJheaOBRTfS
	MzSEhVxQcm9qZWN0TW9kZWyjhoc3XFByb2plY3RNb2RlbFpDb21waWxhYmxlXxAPTlNL
	ZXllZEFyY2hpdmVy0YopVHJvb3SAAQAIABEAGgAjAC0AMgA3AFkAXwBuAHgAhgCPAJYA
	oQCmAK8AsQCzALUAtwC5ALsAvQDCAM0AzwDRANMA6ADwAPwBCQERAR0BKQExATMBNQE3
	ATkBOwE9AT8BQQFDAUUBSgFSAVsBXQFiAW0BdgF9AYABiQGOAZcBmQGiAasBrAGtAbIB
	wAHEAdIB3QHiAeoB7QHvAgECBgIKAgwCDgIQAhICJwIpAisCLQIvAjECMwI1AjcCOQI7
	AkACSQJLAloCaQJ+AoACggKEAoYCiAKKAowCjgKQApIClwKgAqICsQLAAsUC0gLWAtwC
	4QLjAuUC5wLuAvAC8gL0Av8DBAMMAw8DFwMcAysDLwM0A0EDRQNSA10DbwNyA3cAAAAA
	AAACAQAAAAAAAACMAAAAAAAAAAAAAAAAAAADeQ==
	</data>
	<key>TMTTemplateInfoKey</key>
	<string>The Small Standard Format is used for the following journals and transactions:

CIE, CSUR, JACM, JDIQ, JEA, JETC, TAAS, TACCESS, TACO, TALG, TALIP, TEAC, TECS, TIIS, TISSEC, TIST, TKDD, TMIS, TOCE, TOCHI, TOCL, TOCS, TOCT, TODAES, TODS, TOIS, TOIT, TOMACS, TOMS, TOPC, TOPLAS, TOS, TOSEM, TOSN, TRETS, TSAS, TSLP, TWEB.</string>
	<key>TMTTemplateTypeKey</key>
	<integer>1</integer>
	<key>TMTTemplateUidKey</key>
	<integer>10005</integer>
</dict>
</plist>
