<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4208</key>
	<string>todo</string>
	<key>4207</key>
	<string>ref</string>
	<key>4206</key>
	<string>label</string>
	<key>4205</key>
	<string>include</string>
	<key>4204</key>
	<string>input</string>
	<key>4203</key>
	<string>subsection</string>
	<key>4202</key>
	<string>section</string>
	<key>4201</key>
	<string>chapter</string>
</dict>
</plist>
